<h1>Add a recipe</h1>

<form action = "/recipes" method="post">
    <label for="name"> Recipe name: </label><br>
    <input type="text" id="fname" name="name"><br>
    <label for="desc"> Instructions: </label><br>
    <input type="text" id="dec" name="desc"><br>
    <label for="prep_time"> Prepration time: </label><br>
    <input type="text" id="prep_time" name="prep_time"><br>
    <label for="difficulty"> Difficulty: </label><br>
    <input type="text" id="difficulty" name="difficulty"><br><br>

    <input class ="btn btn-success" type="submit" value="Submit">
</form>
